<h1 style="font-family: sans-serif;">Model Worlds {{action}}</h1>
<div style="font-family: sans-serif;">
  {{{body}}}
  <p>Thank you for supporting Model Worlds!</p>
</div>
<hr>
<strong style="font-family: sans-serif;">~~ <a href="http://modelworlds.net">Model Worlds</a> ~~</strong>
