    </div>
  </div>
  <footer>
    <p>&copy; 2015 ModelWorlds.net</p>
    <p>LEGO is a trademark of The LEGO Group, which does not sponsor, authorize or endorse this web site. </p>
  </footer>

  <script src="js/script.js"></script>
</body>
</html>
